
<div class="row">
  <div class="text-center discussionImg">
    <img src="{{baseUrl}}/assets/img/Communities-Banner-Join-Discussion.jpg" alt="disscussion image" class="float-center">
  </div>
  <div class="large-centered small-centered columns">
    <coveo-search></coveo-search>
  </div>

  <div id="MyRelatedResults"></div>


  <div class="coveo-recommendation-column" style="width: 50%; margin: 0 25%;">
        <div id="PopularArticlesWidgetUI" data-design="new" data-results-per-page="5" data-enable-history="true" style="min-width: 176px;">
        <div data-search-hub="PopularArticlesWidget">
        </div>
        <div class="coveo-recommendation-header" style="padding: 10px 20px;">
        <div class="CoveoText" data-value="Popular Articles" data-weight="normal" data-size="25px" style="color:#1d4f76; text-align: center;">
        </div>
        </div>
      <div class="coveo-results-column" style="font-size:18px; float:left;">
        <div class="CoveoResultList popularList" data-wait-animation="fade" data-auto-select-fields-to-include="true">

        </div>
      </div>
    </div>
  </div>

</div>
