.pan-logo{
  height: 60px;
}

#show-this{
  display: none;
}

.grid-container {
  max-width: 81rem;
  margin: 0 auto;
}

.menu a{
  color: #000000;
  font-size: 1rem;
  font-weight: 500;
  margin-left: 10px;
}

.submenu li a{
  color: #009ACE;
}

.submenu li:hover{
  background: #f6f6f6;
}

.menu a:hover{
  text-decoration: underline;
}


.dropdown.menu .is-active>a{
  color: #000000 !important;

}

@media print, screen and (min-width: 40em) {
  .dropdown.menu.medium-horizontal > li.is-dropdown-submenu-parent > a::after {
    display: block;
    width: 0;
    height: 0;
    border: inset 6px;
    content: '';
    border-bottom-width: 0;
    border-top-style: solid;
    border-color: #000 transparent transparent;
    right: 5px;
    margin-top: -3px;
  }
}

.accordion-menu .is-accordion-submenu-parent:not(.has-submenu-toggle)>a::after {
  display: block;
  width: 0;
  height: 0;
  border: inset 6px;
  content: '';
  border-bottom-width: 0;
  border-top-style: solid;
  border-color: #000 transparent transparent;
  position: absolute;
  top: 50%;
  margin-top: -3px;
  right: 1rem;
}


.responsive-nav-social-mobile {
  background: #ffffff;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  padding: 5px;
}

.responsive-nav-social-mobile .responsive-nav-social-mobile-left {
  -webkit-flex: 1 0 0;
  -ms-flex: 1 0 0px;
  flex: 1 0 0;
}

.responsive-nav-social-mobile .responsive-nav-social-mobile-left li {
  font-size: 1.5rem;
}

.responsive-nav-social-mobile .responsive-nav-social-mobile-left li .fa {
  color: #8a8a8a;
  margin-right: -0.7rem;
}

.responsive-nav-social-mobile .responsive-nav-social-mobile-right .menu-icon {
  margin-right: 1rem;
}

.responsive-nav-social-mobile .responsive-nav-social-mobile-right .menu-icon::after {
  padding-right: 1.5rem;
  background: #4ec6cd;
  box-shadow: 0 7px 0 #4ec6cd, 0 14px 0 #4ec6cd;
}

.responsive-nav-social {
  padding: 1rem;
  background-color: #ffffff;
  box-shadow: 0 1px 5px rgba(0,0,0,.15);
  -webkit-transition: box-shadow .5s ease;
  transition: box-shadow .5s ease;
  border-bottom: 1px solid #87989f;
}

.responsive-nav-social.is-stuck {
  width: 100%;
  box-shadow: 0px 4px 10px -2px rgba(128, 128, 128, 0.68);
}

.responsive-nav-social a {
  color: #000000;
  font-size: 0.9rem;
  padding: 1rem;
}

.askQ a {
  padding: 1rem !important;
}

.responsive-nav-social a:hover {
  color: #000000;
  transition: color 0.2s ease-in;
}

.responsive-nav-social .askQ:hover {
  color: #ffffff;
  transition: color 0.2s ease-in;
}

@media screen and (max-width: 39.9375em) {
  .responsive-nav-social .menu li a {
    font-size: 1.5rem;
    padding: 1.5rem;
    color: #000000;
  }
  .responsive-nav-social li {
    border-bottom: none;
  }
  .responsive-nav-social li:last-of-type {
    border: 0;
  }
  .responsive-nav-social .responsive-nav-social-left {
    width: 100%;
  }
}

.accordion-menu li {
  border: transparent;
  width: 100%;
}

.headerSearch  coveo-search #searchbox .coveo-search-section {
  margin: 0 ;
}

.responsive-nav-social .responsive-nav-social-right a {
  padding-right: 0.1rem;
}

.responsive-nav-social i.fa {
  font-size: 1.3rem;
  color: #8a8a8a;
}

.CoveoOmnibox.magic-box .magic-box-underlay [data-id="FieldQuery"][data-success="true"]:before,
.CoveoOmnibox.magic-box .magic-box-underlay [data-id="FieldSimpleQuery"][data-success="true"]:before {
  background: none;
}

.sticky-container {
  width: 100%;
}

.menu-icon::after {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 2px;
  background: #000000;
  box-shadow: 0 7px 0 #000000, 0 14px 0 #000000;
  content: '';
}

.button:hover {
  background-color: #00acdc;
}

.button:focus {
  background-color: #00acdc;
}

.coveo-badge-label {
  display: inline-block;
  padding: .33333rem .5rem;
  border-radius: 3px;
  font-size: .875rem;
  line-height: 1;
  white-space: nowrap;
  cursor: default;
  background: 0 0;
  color: #939393;
  border: transparent;
}

.menu-icon {
  padding: 10px 10px;
  margin: 11px 5px;
}

.dropdown.menu .logo{
  padding: 0;
}
