
<div class="topbar grid-x topbar-loggedout">
  <div class="topbar__left">
    <button type="button" class="button button--mobile" data-toggle="offCanvas">Menu</button>
    <h2 class="subheader">Support Dashboard {{baseUrl}}</h2>
    <img src="{{baseUrl}}/assets/img/pan-logo.png" alt="PAN Logo" class="pan-logo" width="100" />
    <img src="{{baseUrl}}/assets/img/mobile-logo.png" alt="PAN Logo" class="mobile-logo" width="30" />
    <site-topnav></site-topnav>
  </div>
  <div class="topbar__right">
    	<coveo-search></coveo-search>
      <button class="button button--small">Log In</button>
      <button class="button--secondary button--small">Get Help</button>
  </div>
</div>
