<nav class="hover-underline-menu topNav" data-menu-underline-from-center role="navigation">
  <div class="responsive-nav-social-mobile" data-responsive-toggle="responsive-nav-social" data-hide-for="large">
    <div class="responsive-nav-social-mobile-left float-left align-top">
      <button class="menu-icon" type="button" data-toggle="responsive-nav-social"></button>
    </div>
    <div class="responsive-nav-social-mobile-right">
      <div class="headerSearch">
        <coveo-search></coveo-search>
      </div>
      <span id="askQ" class="  show-this">
      <a href="https://paloaltonetworks.hosted.jivesoftware.com/discussion/create.jspa?containerType=14&containerID=2250"
         type="button" class="button askBtn align-middle">Ask Tek-Talk</a>
    </span>
    </div>
  </div>

  <div data-sticky-container>
    <div class="responsive-nav-social" id="responsive-nav-social" data-sticky data-options="marginTop:0;">
      <div  class="grid-container full">
        <div class="row offset-1" id="responsive-menu">
          <site-navleft></site-navleft>
          <div class="responsive-nav-social-right hide-for-medium-only hide-for-small-only">
            <ul class="menu">
              <li class="headerSearch" id="tekTalkSearch">
                <coveo-search></coveo-search>
              </li>
              <li class="show-this">
                <a href="https://paloaltonetworks.hosted.jivesoftware.com/discussion/create.jspa?containerType=14&containerID=2250" type="button" class="button askBtn align-middle">Ask Tek-Talk</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</nav>
