.pan-logo{
  max-width: 120px;
  position: relative;
  bottom: 8px;
}

/*.show-this{*/
  /*display: none;*/
/*}*/

/*#jiveSearch{*/
  /*display: none;*/
/*}*/
/*#tekTalkSearch{*/
  /*display: none;*/
/*}*/

.grid-container {
  max-width: 81rem;
  margin: 0 auto;
}

.menu a{
  font-weight: bold;
  margin-left: 10px;
  text-transform: uppercase;
  font-size: 13px !important;
  font-style: normal;
  line-height: 25px;
}

.submenu li a{
  color: #009ACE;
  font-weight: normal;
  text-transform: none;
  font-size: 13px !important;
  font-style: normal
}
.submenu li a:hover{
  color: #009ACE;
}

.submenu li:hover{
  background: #f6f6f6;
}

.menu a:hover{
  text-decoration: underline;
}


.dropdown.menu .is-active>a{
  color: #000000 !important;

}

@media print, screen and (min-width: 40em) {
  .dropdown.menu.medium-horizontal > li.is-dropdown-submenu-parent > a::after {
    display: block;
    width: 0;
    height: 0;
    border: inset 6px;
    content: '';
    border-bottom-width: 0;
    border-top-style: solid;
    border-color: #000 transparent transparent;
    right: 5px;
    margin-top: -3px;
  }
}

.accordion-menu .is-accordion-submenu-parent:not(.has-submenu-toggle)>a::after {
  display: block;
  width: 0;
  height: 0;
  border: inset 6px;
  content: '';
  border-bottom-width: 0;
  border-top-style: solid;
  border-color: #000 transparent transparent;
  position: absolute;
  top: 50%;
  margin-top: -3px;
  right: 1rem;
}


.responsive-nav-social-mobile {
  background: #ffffff;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  padding: 5px;
}

.responsive-nav-social-mobile .responsive-nav-social-mobile-left {
  -webkit-flex: 1 0 0;
  -ms-flex: 1 0 0px;
  flex: 1 0 0;
}

.responsive-nav-social-mobile .responsive-nav-social-mobile-left li {
  font-size: 1.5rem;
}

.responsive-nav-social-mobile .responsive-nav-social-mobile-left li .fa {
  color: #8a8a8a;
  margin-right: -0.7rem;
}
.responsive-nav-social-mobile-left{
  position: relative;
  bottom:15px;
}

.responsive-nav-social-mobile .responsive-nav-social-mobile-right .menu-icon {
  margin-right: 1rem;
}

.responsive-nav-social-mobile .responsive-nav-social-mobile-right .menu-icon::after {
  padding-right: 1.5rem;
  background: #4ec6cd;
  box-shadow: 0 7px 0 #4ec6cd, 0 14px 0 #4ec6cd;
}

.responsive-nav-social {
  padding: 1rem;
  background-color: #ffffff;
  box-shadow: 0 1px 5px rgba(0,0,0,.15);
  -webkit-transition: box-shadow .5s ease;
  transition: box-shadow .5s ease;
  border-bottom: 1px solid #87989f;
}

.responsive-nav-social.is-stuck {
  width: 100%;
  box-shadow: 0px 4px 10px -2px rgba(128, 128, 128, 0.68);
}

.responsive-nav-social a {
  color: #48525a;
  font-size: 1rem;
  padding: 1rem;
}


.responsive-nav-social .askBtn {
  padding: 1rem !important;
  color: #ffffff;
  transition: color 0.2s ease-in;
  text-decoration: none;
}

.responsive-nav-social a:hover {
  color: #000000;
  transition: color 0.2s ease-in;
}

.responsive-nav-social .askBtn:hover {
  color: #ffffff;
  transition: color 0.2s ease-in;
  text-decoration: none;
}


@media screen and (max-width: 39.9375em) {
  .responsive-nav-social .menu li a {
    font-size: 1.5rem;
    padding: 1.5rem;
    color: #000000;
  }
  .responsive-nav-social li {
    border-bottom: none;
  }
  .responsive-nav-social li:last-of-type {
    border: 0;
  }
  .responsive-nav-social .responsive-nav-social-left {
    width: 100%;
  }
  #askQ{
    margin-top: 5px;
    margin-bottom: 30px;
  }
}

.responsive-nav-social-left{
  float: left;
}

@media screen and (max-width: 73.9375em) {
  .responsive-nav-social-mobile-right{
    margin-left: 0;
    margin-top: 10px;
    width: 100%;
  }
  .responsive-nav-social-left{
    float: none;
  }
  #askQ{
    margin-top: 15px;
    margin-bottom: 30px;
  }
}

.accordion-menu li {
  border: transparent;
  width: 100%;
}

.headerSearch #searchbox .coveo-search-section {
  margin: 0
}

.jiveSearch #searchbox .coveo-search-section{
  margin: 0 !important;
}

.responsive-nav-social .responsive-nav-social-right a {
  padding-right: 0.1rem;
}

.responsive-nav-social i.fa {
  font-size: 1.3rem;
  color: #8a8a8a;
}

.CoveoOmnibox.magic-box .magic-box-underlay [data-id="FieldQuery"][data-success="true"]:before,
.CoveoOmnibox.magic-box .magic-box-underlay [data-id="FieldSimpleQuery"][data-success="true"]:before {
  background: none;
}

.sticky-container {
  width: 100%;
}

.menu-icon::after {
  position: absolute;
  left: 0;
  display: block;
  width: 100%;
  height: 2px;
  background: #000000;
  box-shadow: 0 7px 0 #000000, 0 14px 0 #000000;
  content: '';
}

.button:hover {
  background-color: #00acdc;
}

.button:focus {
  background-color: #00acdc;
}

.coveo-badge-label {
  display: inline-block;
  padding: .33333rem .5rem;
  border-radius: 3px;
  font-size: .875rem;
  line-height: 1;
  white-space: nowrap;
  cursor: default;
  background: 0 0;
  color: #939393;
  border: transparent;
}

.menu-icon {
  padding: 10px 10px;
  margin: 11px 5px;
  bottom: .2rem;
}

.dropdown.menu .logo{
  padding: 0;
}


.responsive-nav-social {
  border-bottom: none;
}

.accordion-menu {
  border-top: none;
  border-bottom: none;
}

.menu-icon:hover::after {
  background: #000000;
  box-shadow: 0 7px 0 #000000, 0 14px 0 #000000;
}

.CoveoSearchInterface.coveo-small-facets .coveo-facet-column.coveo-facet-dropdown-content {
  left: 0 !important;
}

@media screen and (min-width: 64em){
  .topNav{
    height: 84px;
  }
}


.CoveoSearchbox .CoveoSearchButton {
  float: right;
}

@media print, screen and (min-width: 64em) {
  .jiveNav .offset-1 {
    margin-left: 8.33333%;
  }
  .tekTalkNav .offset-1{
    margin-left: 5.33333%;
  }
}

.tekTalkNav .CoveoSearchbox .magic-box {
  border-color: #e5e8ea;
  min-width: 310px;
}

.jiveNav .CoveoSearchbox .magic-box {
  border-color: #e5e8ea;
  min-width: 413px;
}

.magic-box .magic-box-suggestions {
  border: none;
  -webkit-box-shadow: 0px 3px 20px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 3px 20px 0px rgba(0,0,0,0.75);
  box-shadow: 0px 3px 20px 0px rgba(0,0,0,0.75);
}

.CoveoOmnibox.magic-box .coveo-omnibox-selectable.coveo-omnibox-selected {
  background-color: #f6f6f6;
}

coveo-dropdown-header-wrapper{
  display: block !important;
}


