<!-- Begin Still Cant find solution -->
<div class="grid-container">
  <div class="grid-x grid-padding-x">
    <div class="cell">
      <div class="content-card">
        <div class="grid-x">
          <div class="cell">
            <div class="grid-x grid-padding-x">
              <div class="cell solution-header section-button">
                <h2 class="subheader">Still Can't find a solution?</h2>
              </div>
              <div class="medium-6 cell">
                <h3 class="article-header">Ask a Question</h3>
                <p>Head over the our LIVE Community and get some answers!</p>
                <a class="button--link" href= "{{liveCommunityUrl}}" target="_blank" data-track="true" data-track-type="support-hm-cta" data-track-category="Can’t Find a Solution" data-track-value="Ask a Question"><img src="{{baseUrl}}/assets/img/icons/live-mini-icon.svg" alt="live" class="button--link__icon" />Ask a Question &#x203A;</a>
              </div>
              <div class="medium-6 cell">
                <h3 class="article-header">Create a Case</h3>
                <p>Let us know how we can help and one of our specialists will be in touch!</p>
                <a class="button--link" href="{{caseManagementUrl}}" target="_top" data-track="true" data-track-type="support-hm-cta" data-track-category="Can’t Find a Solution" data-track-value="File a Case"><img src="{{baseUrl}}/assets/img/icons/case-mini-icon.svg" alt="case" class="button--link__icon"/>File a case &#x203A;</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End Still Cant find solution -->
