<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Discussion Search</title>
  <base href="/">
  <meta http-equiv="x-ua-compatible" content="ie=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="favicon.ico">
  <link href="https://fonts.googleapis.com/css?family=Lato:300,400,400i,700" rel="stylesheet">
  <link rel="stylesheet" href="/assets/css-vendor/coveofullsearchnewdesign.css"/>
  <link rel="stylesheet" href="/assets/css/app.css"/>
  <link rel="stylesheet" type="text/css" href="/assets/css-vendor/slick.css"/>

</head>
<body >
<div class="off-canvas-wrapper">
  <div class="off-canvas position-left" id="offCanvas" data-off-canvas>

  </div>

  <div class="off-canvas-content" data-off-canvas-content>

    <div data-sticky-container>
      <div class="sticky" data-sticky data-margin-top="0">
        <site-header></site-header>
      </div>
    </div>

    <div class="page-wrapper">
      <div class="stage">
        <div class="grid-container">
          <div class="grid-x grid-padding-x">
            <div class="cell">
              <div  id="search" class='CoveoSearchInterface' data-enable-history="false" data-design="new" data-pipeline='Tek-Talk Search'>

                <div id="discussionFolding" class="CoveoFoldingForThread" data-field="@jivefoldingcollection" data-child-field="@jivefoldingchild" data-parent-field="@jivefoldingparent" data-range="1"
                     data-maximum-expanded-results="5">
                </div>
                <div class="coveo-main-section">
                  <div class="coveo-facet-column">
                    <div class="coveo__facetheader"><h2 class="subheader coveo--titleheader">Filter your Results </h2></div>
                    <div class="CoveoFacet" data-title="By Source" data-field="@source" id="source" data-facet-search="false"></div>
                    <div class="CoveoFacet" data-title="FileType" data-field="@filetype" data-allowed-values=“csdocument,csdiscussion,exchangemessage,html,pdf,doc,ppt,csblogpost” data-tab="All" data-enable-collapse="true" data-facet-search="false"></div>
                    <div class="CoveoFacet" data-title="Author" data-facet-search="true" data-field="@author" data-tab="All"></div>
                    <div class="CoveoFacet" data-title="Year" data-field="@year" data-tab="All" data-facet-search="false"></div>
                    <div class='CoveoFacetSlider' data-title="Last Modified Date" data-date-field="true" data-field='@date' data-range-slider='true' data-graph-steps='10'></div>
                  </div>

                  <div class="coveo-results-column content-card">
                    <h1 class="section-header"><strong><span class="CoveoQueryPropertyOutput" data-property="totalCountFiltered"></span> Results</strong>For '<span class="CoveoQueryPropertyOutput" data-property="query"></span>' across Palo Alto Networks. </h1>
                    <div class="CoveoBreadcrumb"></div>
                    <div class="coveo-results-header coveo__results-header">
                      <div class="coveo-sort-section">
                        <span class="CoveoSort" data-sort-criteria="relevancy" data-caption="Relevance"></span>
                        <span class="CoveoSort" data-sort-criteria="date descending,date ascending" data-caption="Date"></span>
                      </div>
                      <div class="coveo-summary-section">
                        <div class="CoveoResultsPerPage"></div>
                        <span class="CoveoQuerySummary"></span>

                      </div>
                    </div>
                    <div class="CoveoHiddenQuery"></div>
                    <div class="CoveoDidYouMean"></div>
                    <div class="CoveoErrorReport"></div>
                    <div class="CoveoResultList" data-layout="list" data-wait-animation="fade" data-auto-select-fields-to-include="true">

                      <script id="searchResults" class="result-template" type="text/underscore">
                        <% if (raw.source.toLowerCase() == "tek-talk archive shared") { %>
                        <div class="coveo-result-frame coveo__result-frame ">
                          <div class="coveo-result-row">
                            <div class="coveo-result-cell" style="width: 85px; text-align: center; padding-top: 7px;">
                              <span class="CoveoIcon"></span>
                              <span class="CoveoQuickview">
                                    <div class="coveo-icon-for-quickview"></div>
                                    <div class="coveo-caption-for-quickview" tabindex="0">Quick View</div>
                                </span>
                            </div>
                            <div class="coveo-result-cell">
                              <div class="coveo-result-row">
                                <div class="coveo-result-cell" style="font-size:18px; float: left; width: 80%;">
                                  <a class="CoveoResultLink" style="color:coral;" data-open-quickview='true'></a>
                                </div>
                                <div class="coveo-result-cell " style="font-size:12px; float:right;">
                                  <span class="CoveoFieldValue" data-field="@date" data-helper="date" data-helper-options="{predefinedFormat: 'MM/dd/yyyy'}"></span>
                                </div>
                              </div>
                              <!--<div class="coveo-result-row">-->
                              <!--<div class="coveo-result-cell" style="font-size:13px;padding-top:5px;padding-bottom:5px;">-->
                              <!--<span class="CoveoText" data-value="From:">From:</span>-->
                              <!--<span class="CoveoFieldValue" data-field="@from" data-helper="email"-->
                              <!--data-html-value="true"></span>-->
                              <!--<span class="CoveoText" data-value="To:">To:</span>-->
                              <!--<span class="CoveoFieldValue" data-field="@recipients" data-helper="email"-->
                              <!--data-html-value="true"></span>-->
                              <!--</div>-->
                              <!--</div>-->
                              <div class="coveo-result-row coveo__result-body">
                                <div class="coveo-result-cell coveo__excerpt">
                                  <span class="CoveoExcerpt"></span>
                                </div>
                              </div>
                              <div class="coveo-result-row coveo__badgesection">
                                <div class="coveo-result-cell">
                                  <div class="CoveoBadge" data-field="@concepts" data-split-values='true' data-display-separator=' '></div>
                                  <div class="CoveoBadge" data-field="@cstag" data-split-values='true' data-display-separator=' '></div>
                                </div>
                              </div>

                            </div>
                          </div>
                        </div>
                        <% } else if (raw.source.toLowerCase() == "jive") { %>
                        <div class="coveo-result-frame coveo__result-frame">
                          <div class="coveo-result-row">
                            <div class="coveo-result-cell" style="width: 85px; text-align: center; padding-top: 7px;">
                              <!--<span class="CoveoIcon"></span>-->
                              <% if (raw.filetype.toLowerCase() == 'csmessage') { %>
                              <span class="fa fa-envelope-open-o" style="font-size:60px"></span>

                              <% } else if (raw.filetype.toLowerCase() == 'csdiscussion') { %>
                              <span class="fa fa-comments-o" style="font-size:60px"></span>

                              <% } else if (raw.filetype.toLowerCase() == 'csdocument') { %>
                              <span class="fa fa-folder-o" style="font-size:60px"></span>

                              <%  } else if (raw.filetype.toLowerCase() == 'csevent') { %>
                              <span class="fa fa-comments-o" style="font-size:60px"></span>

                              <% } else if (raw.filetype.toLowerCase() == 'cscomment') { %>
                              <span class="fa fa-comment" style="font-size:60px"></span>

                              <% } else if (raw.filetype.toLowerCase() == 'cscommunity') { %>
                              <span class="fa fa-globe" style="font-size:60px"></span>

                              <% } else if (raw.filetype.toLowerCase() == 'csblogpost') { %>
                              <span class="fa fa-file" style="font-size:60px"></span>

                              <% } else if (raw.filetype.toLowerCase() == 'csvideo') { %>
                              <span class="fa fa-file-video-o" style="font-size:60px"></span>

                              <% } else if (raw.filetype.toLowerCase() == 'csproject') { %>
                              <span class="fa fa-comments-o" style="font-size:60px"></span>

                              <% } else if (raw.filetype.toLowerCase() == 'cstask') { %>
                              <span class="fa fa-tasks" style="font-size:60px"></span>

                              <% } else if (raw.filetype.toLowerCase() == 'cssocialgroup') { %>
                              <span class="fa fa-users" style="font-size:60px"></span>
                              <% } else  { %>
                              <span class="CoveoIcon"></span>
                              <% }  %>
                              <span class="CoveoQuickview">
                                    <div class="coveo-icon-for-quickview"></div>
                                    <div class="coveo-caption-for-quickview" tabindex="0">Quick View</div>
                                </span>
                            </div>
                            <div class="coveo-result-cell">
                              <div class="coveo-result-row">
                                <div class="coveo-result-cell" style="font-size:18px; float: left; width: 80%;">
                                  <a class="CoveoResultLink" data-always-open-in-new-window='true'></a>
                                </div>
                                <div class="coveo-result-cell"
                                     style="width:120px; text-align:right; font-size:12px; float:right;">
                          <span class="CoveoFieldValue" data-field="@date" data-helper="date"
                                data-helper-options="{predefinedFormat: 'MM/dd/yyyy'}"></span>
                                </div>
                              </div>
                              <!--<div class="coveo-result-row">-->
                              <!--<div class="coveo-result-cell" style="font-size:13px;padding-top:5px;padding-bottom:5px;">-->
                              <!--<span class="CoveoText" data-value="From:">From:</span>-->
                              <!--<span class="CoveoFieldValue" data-field="@from" data-helper="email"-->
                              <!--data-html-value="true"></span>-->
                              <!--<span class="CoveoText" data-value="To:">To:</span>-->
                              <!--<span class="CoveoFieldValue" data-field="@recipients" data-helper="email"-->
                              <!--data-html-value="true"></span>-->
                              <!--</div>-->
                              <!--</div>-->
                              <div class="coveo-result-row">
                                <div class="coveo-result-cell" style="padding-top:5px; padding-bottom:10px">
                                  <span class="CoveoExcerpt"></span>
                                </div>
                              </div>
                              <div class="coveo-result-row coveo__badgesection">
                                <div class="coveo-result-cell">
                                  <div class="CoveoBadge" data-field="@concepts" data-split-values='true'
                                       data-display-separator=' '></div>
                                  <div class="CoveoBadge" data-field="@cstag" data-split-values='true'
                                       data-display-separator=' '></div>

                                </div>
                              </div>

                              <div className="coveo__resultstats-section">
                                 <div class="coveo-result-cell lia-summary-view-statistics-wrapper">
                                    <div class="coveo__resultstat">
                                      <% if (raw.jiveisanswer === 'True') { %>
                                        <span class="article-tag__solved">Answered</span>
                                       <% } %>
                                    </div>
                                    <div class="coveo__resultstat">
                                      <% if (raw.jiveishelpful === 'True') {%>
                                        <span class="article-tag__solved">Helpful</span>
                                      <% } %>
                                    </div>
                                 </div>
                              </div>

                              <% if(raw.jivereplycount > 0) { %>
                               <span class="CoveoResultFolding" data-result-template-id="JiveChildResult" data-expanded-caption="All Replies" data-more-caption="Show more" data-less-caption="Show less" data-displayName="<%-raw.systitle %>"></span>
                              <% } %>
                            </div>
                          </div>
                        </div>
                        <% } else { %>
                        <div class="coveo-result-frame coveo__result-frame">
                          <div class="coveo-result-row">
                            <div class="coveo-result-cell" style="width: 85px; text-align: center; padding-top: 7px;">
                              <span class="CoveoIcon"></span>
                              <span class="CoveoQuickview">
                                    <div class="coveo-icon-for-quickview"></div>
                                    <div class="coveo-caption-for-quickview" tabindex="0">Quick View</div>
                              </span>
                            </div>
                            <div class="coveo-result-cell">
                              <div class="coveo-result-row">
                                <div class="coveo-result-cell" style="font-size:18px; float:left; width: 80%;">
                                  <a class="CoveoResultLink" data-always-open-in-new-window='true'></a>
                                </div>
                                <div class="coveo-result-cell" style="float:right; font-size:12px">
                                  <span class="CoveoFieldValue" data-field="@date" data-helper="date" data-helper-options="{predefinedFormat: 'MM/dd/yyyy'}"></span>
                                </div>
                              </div>
                              <!--<div class="coveo-result-row">-->
                              <!--<div class="coveo-result-cell" style="font-size:13px;padding-top:5px;padding-bottom:5px;">-->
                              <!--<span class="CoveoText" data-value="From:">From:</span>-->
                              <!--<span class="CoveoFieldValue" data-field="@from" data-helper="email"-->
                              <!--data-html-value="true"></span>-->
                              <!--<span class="CoveoText" data-value="To:">To:</span>-->
                              <!--<span class="CoveoFieldValue" data-field="@recipients" data-helper="email"-->
                              <!--data-html-value="true"></span>-->
                              <!--</div>-->
                              <!--</div>-->
                              <div class="coveo-result-row coveo__result-body">
                                <div class="coveo-result-cell coveo__excerpt"">
                                  <span class="CoveoExcerpt"></span>
                                </div>
                              </div>
                              <div class="coveo-result-row coveo__badgesection">
                                <div class="coveo-result-cell ">
                                  <div class="CoveoBadge" data-field="@concepts" data-split-values='true'
                                       data-display-separator=' '></div>
                                  <div class="CoveoBadge" data-field="@cstag" data-split-values='true'
                                       data-display-separator=' '></div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                        <% } %>
                      </script>

                      <script id="JiveChildResult" type="text/underscore">
                        <div class="coveo-result-frame coveo-email-result" style="border: none;">
                          <div class="coveo-result-row">
                            <div class="coveo-result-cell">
                              <span class="coveo-comment-from">
                                <a class="CoveoResultLink coveo-forum-listing" data-always-open-in-new-window='true'>
                                  <span class="CoveoExcerpt"></span>
                                </a>
                              </span>
                            </div>
                          </div>
                        </div>
                      </script>

                    </div>
                    <div class="CoveoPager"></div>
                  </div>
                </div>
                <div id="MyRelatedResults"></div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
<script src="/assets/js-vendor/jquery.min.js"></script>
<script src="/assets/js-vendor/foundation.min.js"></script>
<script src="/assets/js-vendor/CoveoJsSearch.js"></script>
<script src="/assets/js-vendor/slick.js"></script>
<script src="/assets/js-vendor/templatesNew.js"></script>
<script type="text/javascript" src="inline.bundle.js"></script><script type="text/javascript" src="polyfills.bundle.js"></script><script type="text/javascript" src="scripts.bundle.js"></script><script type="text/javascript" src="styles.bundle.js"></script><script type="text/javascript" src="vendor.bundle.js"></script><script type="text/javascript" src="main.bundle.js" defer></script>
<script type="text/javascript">
  $(document).foundation();
</script>
</body>
</html>
